framework: net40
storage: packages
source https://nuget.org/api/v2

nuget Ioc.Modules
nuget Urchin.Client
nuget Ioc.Modules.Ninject
nuget Ninject = 3.2.2
nuget Newtonsoft.Json ~> 7.0
nuget Svg

nuget Microsoft.Owin.Host.SystemWeb = 2.1.0

nuget Owin.Framework.NotFound
nuget Owin.Framework.Urchin
nuget Owin.Framework.ExceptionReporter
nuget Owin.Framework.StaticFiles
nuget Owin.Framework.Less

nuget Owin.Framework.Pages.Core = 1.0.0-alpha-013
nuget Owin.Framework.Pages.Framework = 1.0.0-alpha-013
nuget Owin.Framework.Pages.Html = 1.0.0-alpha-013
nuget Owin.Framework.Pages.DebugMiddleware = 1.0.0-alpha-013
nuget Owin.Framework.Pages.Standard = 1.0.0-alpha-013
nuget Owin.Framework.Pages.Restful = 1.0.0-alpha-013
