{{Area = Website.Navigation.SiteMap+FunctionalArea}}
{{Document = Website.Navigation.SiteMap+Document}}
<h2>{{Area: Caption}}</h2>
<p>
    <a href="{{Document: LandingPageTemplate}}">Home</a><span>&nbsp;|&nbsp;</span>
    <a href="{{Document: OverviewTemplate}}">Overview</a>
</p>
<p>{{Document: Description}}</p>