{{Area=Website.Navigation.SiteMap+FunctionalArea}}
{{Document=Website.Navigation.SiteMap+Document}}

<h2>{{Document:Title}}</h2>
<p>
    <a href="{{Document:LandingPageTemplate}}">Home</a><span>&nbsp;|&nbsp;</span>
    <a href="{{Document:OverviewTemplate}}">Overview</a><span>&nbsp;|&nbsp;</span>
    <a href="{{Document:IndexTemplate}}">Index</a>
</p>
<p>{{Document:Description}}</p>