{{Project = Website.Navigation.SiteMap+Project}}
{{Document = Website.Navigation.SiteMap+Document}}
{{Repository = Website.Navigation.SiteMap+Repository}}
<h2>{{Project: NugetPackage}}</h2>
<table>
    <tr><td>NuGet package</td><td><a href="https://www.nuget.org/packages/{{Project:NugetPackage}}" target="_blank">{{Project: NugetPackage}}</a></td></tr>
    <tr><td>GitHub source</td><td><a href="{{Repository: Url}}/tree/master/{{Project: ProjectName}}" target="_blank">{{Project: ProjectName}}</a></td></tr>
</table>
<p>
    <a href="{{Document: LandingPageTemplate}}">Home</a><span>&nbsp;|&nbsp;</span>
    <a href="{{Document: OverviewTemplate}}">Readme</a>
</p>
<p>{{Document: Description}}</p>