{{Repository=Website.Navigation.SiteMap+Repository}}
{{Owner=Website.Navigation.SiteMap+RepositoryOwner}}
<h2>{{Repository:Caption}}</h2>
<table>
    <tr><td>Owner</td><td><a href="{{Owner:HomePageUrl}}" target="_blank">{{Owner:GitHubAccountName}}</a></td></tr>
    <tr><td>GitHub</td><td><a href="{{Repository:Url}}" target="_blank">{{Repository:GitHubRepositoryName}}</a></td></tr>
</table>
<p>{{Repository:Description}}</p>