{{Repository = Website.Navigation.SiteMap+Repository}}
{{Owner = Website.Navigation.SiteMap+RepositoryOwner}}
<h2>{{Repository: Caption}}</h2>
<table>
    <tr><td>Owner</td><td><a href="{{Owner: HomePageUrl}}" target="_blank" rel="noindex nofollow">{{Owner: GitHubAccountName}}</a></td></tr>
    <tr><td>GitHub</td><td><a href="{{Repository: Url}}" target="_blank" rel="noindex nofollow">{{Repository: GitHubRepositoryName}}</a></td></tr>
</table>
<p>
    <a href="/content/repository/{{Repository: GitHubRepositoryName}}/landing">Home</a><span>&nbsp;|&nbsp;</span>
    <a href="/content/repository/{{Repository: GitHubRepositoryName}}/readme">Readme</a>
</p>
<p>{{Repository: Description}}</p>