@fixed-panel-background: #e5e4da;
@content-panel-background: white;
@header-background: gray;
@header-color: whitesmoke;

body { margin:10px; background-color: whitesmoke; }

p { font-size:11pt; }

h1 { font-size:16pt; }

h2 { font-size:14pt; }

h3 { font-size:12pt; }

div { margin: 0; padding: 0; }

div.web_header-region { 
    height: 158px; width:100%; background: @header-background; color: @header-color; clear: both; 

    h1 { 
        font-size: 3em; padding: 15px 0px 0px 30px; margin: 0; letter-spacing: 1px; font-family: sans-serif;
    }

    p {
        font-size: 0.8em; padding: 0px 0px 0px 50px; margin: 13px;
    }
}

div.web_footer-region { 
    height: 50px; width:100%; padding:5px; background: @header-background; color: @header-color; 
    
    p {
        font-weight:bold; font-size:10pt; text-align: right; margin-right: 15px;
    }
}

.web_web_navigation {
    font-family: sans-serif;
}


div.web_fixed-left-layout {
    overflow: hidden;

    div.web_left { overflow: hidden; float: left; width: 200px; background-color: @fixed-panel-background; }
    div.web_right { min-height: 400px; margin-left: 210px; margin-top: -5px; background-color: @content-panel-background; }
}

div.web_fixed-right-layout {
    height: auto; overflow: hidden;

    div.web_left { overflow: hidden; width: auto; background-color: @content-panel-background; }
    div.web_right { width: 200px; float: right; background-color: @fixed-panel-background; }
}
