<h1>The Owin Framework</h1>

<p>The Owin Framework is a set of NuGet packages that can be used
    to build powerful and extremely scalable applications and
    services that are delivered over Http.</p>

<p>To take advantage of this open source project you will need to understand
    the fundamentals of computer programming. These tools are not designed
    to allow end-users to create websites.</p>

<p><img src="/assets/images/drawings/Layers of OWIN.svg" alt="Layers of OWIN" /></p>

<p>The Owin Framework builds on OWIN, an open technology created by Microsoft
    to isolate web applications from the hosting platform. This means that
    applications based on OWIN can run on Apache, IIS, self-host (ie run 
    as a standalone application that listens for Http requests directly) or 
    any other hosting platform. This technology depends on the Microsoft .Net 
    framework, and hence you must be using .Net as your application framework 
    to take advantage of OWIN and the Owin Framework.</p>

<p>The Owin Framework is an open architecture, its design goal from the outset 
    was to create a framework that allows components from many different 
    developers to work seamlessly together with very little effort.</p>

<p>At this point enough NuGet packages have been authored that it is
    possible to create rich and highly scaleable websites and web services
    easily. This framework has been sucesfully used to build websites that
    serve millions of users, and you can reasonably expect each web server
    to be able to serve 10's thousands of Http request per second using this
    technology.</p>
